<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
    <log_level>
        10
    </log_level>
    <seriousness>
        0
    </seriousness>
    <do_cleaning>
        True
    </do_cleaning>
    <packet_buffer_size>
        25000
    </packet_buffer_size>
    <skew>
        0.0
    </skew>
    <quiet>
        False
    </quiet>
    <host>
        switzerland.eff.org
    </host>
    <interface>
        eth0
    </interface>
    <use_ntp>
        True
    </use_ntp>
    <force_public_ip>
        False
    </force_public_ip>
    <force_private_ip>
        False
    </force_private_ip>
    <port>
        7778
    </port>
    <filter_packets>
        True
    </filter_packets>
    <allow_wireshark>
        False
    </allow_wireshark>
    <save_window>
        3600
    </save_window>
    <refresh_interval>
        20
    </refresh_interval>
</configuration>
