
body, th, td, p, div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.container {
    border-style:solid;
    border-width:1px;
    border-color:red;
    position: static;
}
.page_section {
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin: 4px;
    padding: 2px;

    float: left;
}
#clientinfo {
	width: 250px;
}
#serverinfo { 
	width: 250px;
}
#activeflows {
	
}
#legend {
    width: 500px;
}
#graph {
	width: 828px;
}
#graphdetail {

}
.caption {
    font-weight: bold;
}





.top_menu {
    clear: both;
}

.menu_item {
    float: left; 
    margin: 2px;
    padding: 4px;
    width: 120px;
    text-align: center;
    background-color:gray;
    color:white;
}

.menu_item_selected {
    float:left ;
    margin: 2px;
    padding: 4px;
    width: 120px;
    text-align: center;
    color:white;
    background-color:red;
}

.top_menu a {
    text-decoration:none;
    color:white;
}

.menu_item:hover, .top_menu a:hover {
    background-color:#0000ff
}

