
body, th, td, p, div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

#clientinfo {
	float: left;
	width: 250px;
}
#serverinfo { 
	float: left;
	width: 250px;
}
#activeflows {
	float: left;
}
#legend {
    float: left;
    width: 500px;
}
#graph {
	clear: both;
	width: 820px;
}
caption {
    font-weight: bold;
}

.page_section {
    border-style:solid;
    border-width:1px;
    border-color:black;
    margin: 4px;
    padding: 2px;
    width: 300px;
}

.container {
    clear: both;
}

.top_menu {
}

.menu_item {
    float: left; 
    margin: 2px;
    padding: 4px;
    width: 120px;
    text-align: center;
    background-color:gray;
    color:white;
}

.menu_item_selected {
    float:left ;
    margin: 2px;
    padding: 4px;
    width: 120px;
    text-align: center;
    color:white;
    background-color:red;
}

.top_menu a {
    text-decoration:none;
    color:white;
}

.menu_item:hover, .top_menu a:hover {
    background-color:#0000ff
}

