$def with (modified_list, injected_list, dropped_list)        
$# This is where the packet info is formatted for display
<table>
        <caption>Dropped</caption>
        $for p in dropped_list:
                <tr><td>$p.get_summary_string()</td></tr>
</table>
<table>
        <caption>Injected</caption>        
        $for p in injected_list:
                <tr><td>$p.get_summary_string()</td></tr>
</table>
<table>
        <caption>Modified</caption>        
        $for p in modified_list:
                <tr><td>$p.get_summary_string()</td></tr>
</table>