$def with (menu, config, tweakable_options, immutable_options, application_options, message="")
$# Main configuration page
<!DOCTYPE HTML>
<html>
    <head>
        <title>Switzerland</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"> 
    </head>
    <body>
    <div id="menu" class="top_menu">
    $:menu
    </div>
    
    
    <div id="message">$message</div>
    <div id="applicationoptions" class="page_section">
    <form name="frmApplicationOpt" id="frmApplicationOpt" method="POST">
    <table>
		<caption>Web Application Options</caption>
		$for opt in application_options: 
			<tr><td>$application_options[opt][1]</td>
			$if opt in ('allow_wireshark'):
				<td>
				<select name="$opt">
				<option value="True"
				$if application_options[opt][0] == True or application_options[opt][0] =='True':
					selected
				>True</option>
				<option value="False"
				$if application_options[opt][0] == False or application_options[opt][0] =='False':
					selected                    
				>False</option>
				</select>
				</td>
			$else:
				<td><input name="$opt" value="$application_options[opt][0]"></td>
			</tr>
    </table>
    <input type="hidden" name="form" value="frmApplicationOpt">
    <input type="submit" value="Save changes"></form>
    </div>
    <div id="tweakableoptions" class="page_section"">
    <form name="frmTweakableOpt" id="frmTweakableOpt" method="POST">
    <table>
        <caption>Tweakable Options</caption>
        $for opt in tweakable_options.keys():     
            <tr><td>$opt</td><td>
            $# TODO: Replace the if statements with something more elegant
            $if opt == "log_level":
                <select name="log_level">
                    <option value="50"
                    $if tweakable_options[opt] == 50:
                        selected
                    >critical</option>
                    <option value="40"
                    $if tweakable_options[opt] == 40:
                        selected                    
                    >error</option>
                    <option value="30"
                    $if tweakable_options[opt] == 30:
                        selected
                    >warning</option>
                    <option value="20"
                    $if tweakable_options[opt] == 20:
                        selected
                    >info</option>
                    <option value="10"
                    $if tweakable_options[opt] == 10:
                        selected
                    >debug</option>
                    <option value="0"
                    $if tweakable_options[opt] == 0:
                        selected
                    >not set</option>
                </select>
            $elif opt in ('do_cleaning'):
                <select name="$opt">
	                <option value="True"
	                $if tweakable_options[opt] == True or tweakable_options[opt] =='True':
	                    selected
	                >True</option>
	                <option value="False"
	                $if tweakable_options[opt] == False or tweakable_options[opt] =='False':
	                    selected                    
	                >False</option>
                </select>
            $else:
                <input name="$opt" value="$tweakable_options[opt]">
            </td></tr>
    </table>
    <input type="hidden" name="form" value="frmTweakableOpt">
    <input type="submit" value="Save changes"></form>
    </div>
    <div id="immutableoptions" class="page_section">
    <form name="frmImmutableOpt" id="frmImmutableOpt" method="POST">
    <table>
        <caption>Immutable Options</caption>
        $for opt in immutable_options.keys(): 
        	<tr><td>$opt</td>
            $if opt in ('use_ntp','force_private_ip','force_public_ip','quiet','filter_packets'):
                <td><select name="$opt">
	                <option value="True"
	                $if immutable_options[opt] == True or immutable_options[opt] =='True':
	                    selected
	                >True</option>
	                <option value="False"
	                $if immutable_options[opt] == False or immutable_options[opt] =='False':
	                    selected                    
	                >False</option>
                </select></td></tr>
            $else:
                <td><input name="$opt" value="$immutable_options[opt]"></td></tr>
    </table>
    <input type="hidden" name="form" value="frmImmutableOpt">
    <input type="submit" value="Save changes"></form>
    </div>
    
    </body>
</html>
