$def with (menu, client_info, server_info, active_flows, active_peers, legend, graph, reload_seconds)
$# Main page with graph
<!DOCTYPE HTML>

<html>
    <head>
        <title>Switzerland</title>
        <script type="text/javascript">
            var graphCid;
            var activeFlows = new Array();
            var tid = setInterval ( "updatePage();", $reload_seconds * 1000 );
            
            function updatePage() {
                updateGraph('graph');
                updateLegend('legend');
            }
            
            $# toggleFlow and toggleAll are called from packet_graph_legend.html,
            $# but they are defined here with the other references to tid
            
            function toggleFlow(formName){
                clearInterval(tid);
                updateFlow(formName, graphCid, activeFlows);
                tid = setInterval ( "updatePage();", $reload_seconds * 1000 );
            }
            
            function toggleAll(formName, checked) {
                clearInterval(tid);
                checkLegend(formName, checked, graphCid, activeFlows);
                tid = setInterval ( "updatePage();", $reload_seconds * 1000 );
            }       
        </script>

        <script type="text/javascript" src="/static/js/ajax_client.js"></script>
        <script type="text/javascript" src="/static/js/graph_functions.js"></script>
        <script type="text/javascript" src="/static/js/flow_data_object.js"></script>
        <script type="text/javascript" src="/static/js/prototype.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css"> 
    </head>
    <body>
    <div id="menu" class="top_menu">
    $:menu
    </div>
    <div id="clientinfo" class="page_section" style="clear:left;">
    $:client_info
    </div>
    <div id="serverinfo" class="page_section" >
    $:server_info
    </div>
    $# Uncomment for active flow list (redundant to graph legend)
    $# <div id="activeflows" class="page_section" >
    $# $:active_flows
    $# </div>
    
    <div id="activepeers" class="page_section" >
    $:active_peers
    </div>
    <div id="graph" class="page_section" style="clear:left;">
    $:graph
    </div> 
    <div id="graphdetail" class="page_section">&nbsp;
    </div>
    <div id="legend" class="page_section" style="clear:left;">
    $:legend
    </div>

    <body>
</html>
