$def with (canvas_id, entries)
           
$# e = (ip, line name, label, color, symbol) 

<table>
    $for e in entries:
        <tr><td><canvas id="$e[1]" height="20" width="50">You need Safari or Firefox 1.5+ to see this image.</canvas></td><td></td><td>$e[2]</td></tr>
</table>

<script type="text/javascript">

    function gen_legend_$canvas_id () {

    $for e in entries:
        legend_entry("$e[1]", 50, 20, "$e[3]", "$e[4]");            
    }
    
    gen_legend_$canvas_id ();
    
</script>
